<div class="weui_dialog_confirm">
    <div class="weui_mask" style="z-index:10000"></div>
    <div class="weui_dialog" style="z-index:10001">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title" ng-bind-html="options.title|to_trusted"></strong>
        </div>
        <div class="weui_dialog_bd" ng-bind-html="options.content|to_trusted"></div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog {{btn.cls||'btn-default'}}" ng-repeat="btn in options.btns"
               ng-click="executeBefroeClose(btn.action)" ng-bind="btn.name"></a>
        </div>
    </div>
</div>