<table class="table table-striped table-bordered table-hover table-btns" role="grid"
       data-ng-if="billRecords && billRecords.length > 0">
    <caption>结算记录列表：</caption>
    <thead>
    <tr role="row" class="heading">
        <th>序号</th>
        <th>结算日期</th>
        <th>结算方式</th>
        <th>结算金额</th>
        <th>结算流水</th>
        <th>备注</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in billRecords" class="odd gradeX">
        <td data-ng-bind="$index+1"></td>
        <td data-ng-bind="item.billingTime | date:'yyyy-MM-dd'"></td>
        <td data-ng-bind="item.billingMethod"></td>
        <td data-ng-bind="item.billingAmount | number:2"></td>
        <td><img data-ng-src="{{item.bankTransaction}}" width="80" height="80"></td>
        <td data-ng-bind="item.remark"></td>
    </tr>
    </tbody>
</table>
