<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="cancel()">×</button>
    <h3 class="modal-title">库存转移</h3>
</div>

<div class="modal-body">
    <div class="form-body">
    
        <form class="form-horizontal" name="myForm" novalidate>
            <div class="form-body">
                <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <label class="col-md-5 control-label">大单位数量：<span class="required"> * </span></label>
								<div class="col-md-7">
					                <input type="number" name="packageCount"  class="form-control" data-ng-model="vo.packageCount" required data-ng-pattern ="/^(0|[1-9][0-9]*|-[1-9][0-9]*)$/" />
					                <div class="error-messages ng-scope ng-active"
				                                 data-ng-messages="addForm.packageCount.$error"
				                                 data-ng-if="addForm.packageCount.$touched">
				                                <div class="ng-scope" data-ng-message="required">大单位数量为必填！</div>
								    </div>
								    <div class="error-messages ng-scope ng-active"
				                                 data-ng-messages="addForm.packageCount.$error"
				                                 data-ng-if="addForm.packageCount.$touched">
				                                <div class="ng-scope" data-ng-message="pattern">只能输入整数!</div>
								    </div>
							    </div>
                            </div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <label class="col-md-5 control-label">小单位数量：<span class="required"> * </span></label>
								<div class="col-md-7">
					                <input type="number" name="unitCount"  class="form-control" data-ng-model="vo.unitCount" required  data-ng-pattern ="/^(0|[1-9][0-9]*|-[1-9][0-9]*)$/"/>
					                <div class="error-messages ng-scope ng-active"
				                                 data-ng-messages="addForm.unitCount.$error"
				                                 data-ng-if="addForm.unitCount.$touched">
				                                <div class="ng-scope" data-ng-message="required">小单位数量为必填！</div>
								    </div>
								    <div class="error-messages ng-scope ng-active"
				                                 data-ng-messages="addForm.unitCount.$error"
				                                 data-ng-if="addForm.unitCount.$touched">
				                                <div class="ng-scope" data-ng-message="pattern">只能输入整数!</div>
								    </div>
							    </div>
                            </div>
                        </div>
               </div>
			 <div class="row">
					 <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
								<label class="col-md-5 control-label">产品渠道：<span class="required"> * </span></label>
								<div class="col-md-7">
								    <select class="form-control" data-ng-model="vo.channel" name='channel' required>
										<option value="">请选择</option>
										<option data-ng-if='vo.beChannel!=0' value="0">零售产品</option>
										<option data-ng-if='vo.beChannel!=1' value="1">大宗产品</option>
										<option data-ng-if='vo.beChannel!=2' value="2">微酒产品</option>
									</select>
									<div class="error-messages ng-scope ng-active"
				                                 data-ng-messages="addForm.channel.$error"
				                                 data-ng-if="addForm.channel.$touched">
				                                <div class="ng-scope" data-ng-message="required">产品渠道必选！</div>
								    </div>
								</div>
							</div>
					</div>
            </div>
         </form>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" data-ng-click="ok()" data-ng-disabled="!myForm.$valid">确定
    </button>
    <button class="btn btn-warning" type="button" data-ng-click="cancel()">取消</button>
</div>
