/*全局*/
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mr10{margin-right:10px;}
.mr5{margin-right:5px;}
.pl0{padding-left:0;}
.pl15{padding-left:15px;}
.style-red{color:#e43834;}
.bg-inverse {
    background: #F7F7F7;
}

.page-header.navbar {height: 60px; min-height: 60px;}
.page-header.navbar .page-logo{width:100px; height:36px;}
.page-header.navbar .page-logo .logo-default {margin-top: 12px;}
.page-header.navbar .top-menu .navbar-nav{margin-top:7px;}

.page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active.open > a {background: #f44336;}
.page-sidebar .page-sidebar-menu > li.active.open > a:hover { background: #d50000;}
.page-sidebar .page-sidebar-menu > li.active > a:hover{background: #d50000;}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {background-color: #f44336;}

.page-title {margin-top: 10px; margin-bottom: 10px;}
.page-bar{margin-bottom:10px;}

.searchbox{ border-bottom:1px solid #e5e5e5; padding-bottom:15px; margin-bottom:15px;}
.portlet.light.bordered > .portlet-title {border-bottom: 1px solid #e5e5e5;}
/*表格*/
.table-btns > tbody > tr > td:last-child,.table-btns > tbody > tr > td:nth-last-child(2) {padding-top:5px!important; padding-bottom:0!important;}
.table-btns > tbody > tr > td:last-child  > .btn.default{margin-bottom:5px!important;}
.table-btns > tbody > tr > td:nth-last-child(2) > .label.label-sm{padding: 1px 5px; font-size: 13px; line-height: 1.5;}
.nocontent{box-sizing:border-box; margin-bottom:0!important; padding:15px 0; width:100%!important; height:100%; background-color: #f2dede; color: #a94442; text-align:center;}
.table-btns .nocontent{margin-top:3px; margin-bottom:8px!important;}

.page-bar .page-breadcrumb > li > a{color:#5b9bd1;}
.page-bar .page-breadcrumb > li > a:hover{color:#3175af;}
.page-bar .page-breadcrumb > .active > a ,
.page-bar .page-breadcrumb > .active > a:hover{color: #888; }
table.table th, table.table td{text-align:center;}
/*进度条*/
.pace .pace-progress {top: 58px;}
/*分页*/
.pagtext{height:29px; line-height:29px;}
.pagination{margin-top:0; float:right;}
/*dialog*/
.modal-footer {text-align: center;}
.modal-body .portlet{/*margin-bottom:0;*/}
/* @media (min-width: 768px){
	.modal-dialog {	 	  
	  margin-top: 200px;	  
	}	
} */
.modal-body .portlet.light{padding:0 5px;}
.datepicker table th { font-family: 'Open Sans', 'Microsoft Yahei', sans-serif!important; }
.page-title{font-size:24px;}
/*页面加载动画样式调整#ef5350*/
.page-spinner-bar>div {  background: #3598dc;}
/*订单*/
.order-head{margin-bottom:15px; margin-left:0; margin-right:0; border: 1px solid #ddd; padding: 8px; width:100%; background-color: #eee !important; line-height: 1.42857143; text-align:center;}
.order-head li{display:inline-block; float:left; list-style:none;}
.order-head:after{display:block; clear:both; content:""; visibility:hidden; height:0}
.order-list .heading th{font-weight:normal;}
.order-list .heading th b{margin-left:5px; margin-right:15px; font-size:14px;}
.order-list .row .col-md-6,.order-list .row .col-md-3,.order-list .row .col-md-4,.order-list .row .col-md-12 {padding-left:0; padding-right:0;}
.order-list .order-item,.order-list .order-item .row{margin-left:0; margin-right:0; padding-top:8px; padding-bottom:8px; line-height: 1.42857143;}
.order-list .order-item{border-bottom:1px solid #ddd;}
.order-list .order-item:last-child{border-bottom:none;}
.order-list .order-item .label{margin-left:10px; margin-top:10px;}
.order-list .order-item .label:first-child,.order-list .order-item .row .label:first-child{margin-left:0;}
.order-list  td:nth-child(1),.order-list  td:nth-child(2){text-align:left;}
.order-list  td:nth-child(2) .highlight{margin-left:5px; margin-right:5px; font-size:18px; font-weight:bold;}
.order-list  td:nth-child(1) a{color:#333;}
.order-list  td:nth-child(1) a:hover{color:#3175af;}

/*错误信息提示样式*/
.error-messages.ng-active::after {
    border-color: transparent transparent #d91f2f;
    border-style: solid;
    border-width: 5px;
    content: "";
    left: 20px;
    position: absolute;
    top: -10px;
}
.error-messages.ng-active {
    background: #d91f2f none repeat scroll 0 0;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
    padding: 5px;
    position: relative;
}
/*header角色*/
.page-header.navbar .top-menu .navbar-nav>li.dropdown-role{color: #c6cfda;  line-height: 46px;}
/*modal-content*/
.modal-content{box-shadow: 0 5px 10px rgba(0,0,0,.26);}
/*文本对齐*/
.txtleft{text-align:left;}
.txtright{text-align:right}
.txtcenter{text-align:center;}
/*浅蓝色标签*/
.label-info {background-color: #039be5;}
/*dashboard调整*/
.feeds li .col2{margin-left:-150px; width:150px;}
.feeds li .col1 > .cont {margin-right: 150px;}
.feeds li a{color:#82949a;}
.city-label {margin-top:7px;}
.under-btn {margin-top:10px;}
fieldset legend{padding:10px 0; font-size:16px;}
/*bootstrap提示工具（Tooltip）插件样式重写*/
.tooltip-inner {
    background-color: #3598dc;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #3598dc;
}
/*bootstrap textarea高度重写*/
textarea.form-control{min-height:136px;}
.label.label-border-red{border:1px solid #F3565D; color:#F3565D; background:none;}
.tooltip{z-index: 10700;}

/*促销活动图片上传*/
.promotion-img {
    margin-right:0px;
}

.promotion-img input {
    width:300px;
    height:30px;
    line-height:30px;
    float:left;
}

.promotion-img a {
    width:150px;
    text-align:center;
    height:50px;
    line-height:30px;
    position:relative;
    cursor:default;
    overflow: hidden;
    display:inline-block;
}

.promotion-img a input {
    position:absolute;
    left:0;
    top:0;
    opacity:0;
}
.promotion-img>div.other{
    position:relative
}
.promotion-img>div.other>span{
    font-size:14px;
    color:red;
    margin-top:0px;
    position:absolute;
    top:7px;
    left:100px;
}

.promotion-img a span {
    float:left;
}

.promotion_pic {
    max-width:300px;
    max-height:275px;
}
.file-input-preview { display:none !important;margin-bottom: 5px;}
.show-inline { display:inline !important;}

.form-control[readonly], .datetime_input{background-color:white;cursor:auto;}
.form-control-addon{display:inline;width:90%;}

/**图片预览*/
.imgviewer {
  display: none;
  position: absolute;
  background-color: #222;
  padding: 7px 10px;
  max-width: 250px;
  color: #fff;
  z-index:2;
}

.imgviewer-show {
  display: inherit;
}

.imgviewer-arrow {
  position: absolute;
	width: 0;
	height: 0; 
}

.imgviewer-down .imgviewer-arrow {
  top: -5px;
  left: 50%;
  margin-left: -5px;
	  border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  border-bottom: 5px solid #222;
}

.imgviewer-up .imgviewer-arrow {
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  	border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  border-top: 5px solid #222;
}

.imgviewer-right .imgviewer-arrow {
  left: -5px;
  top: 50%;
  margin-top: -3px;
  	border-top: 5px solid transparent;
	  border-bottom: 5px solid transparent;
	  border-right: 5px solid #222;
}

.imgviewer-left .imgviewer-arrow {
  right: -5px;
  top: 50%;
  margin-top: -3px;
  	border-top: 5px solid transparent;
	  border-bottom: 5px solid transparent;
	  border-left: 5px solid #222;
}



/*标签填充单位格*/
td label.full{
    height: 100%;
    width: 100%;
    padding: 0;
    vertical-align: bottom;	
}
