.page-header.navbar {height: 60px; min-height: 60px;}
.page-header.navbar .page-logo{width:100px; height:36px;}
.page-header.navbar .page-logo .logo-default {margin-top: 12px;}
.page-header.navbar .top-menu .navbar-nav{margin-top:7px;}

.page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active.open > a {background: #f44336;}
.page-sidebar .page-sidebar-menu > li.active.open > a:hover { background: #d50000;}
.page-sidebar .page-sidebar-menu > li.active > a:hover{background: #d50000;}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {background-color: #f44336;}

.page-title { margin-top: 10px; margin-bottom: 5px;}
.page-bar{margin-bottom:10px;}

.searchbox{ border-bottom:1px solid #ddd; padding-bottom:15px; margin-bottom:15px;}

/*表格*/
.table-btns > tbody > tr > td:last-child,.table-btns > tbody > tr > td:nth-last-child(2) {padding-top:5px!important; padding-bottom:0!important;}
.table-btns > tbody > tr > td:last-child  > .btn.default{margin-bottom:5px!important;}
.table-btns > tbody > tr > td:nth-last-child(2) > .label.label-sm{padding: 1px 5px; font-size: 13px; line-height: 1.5;}
.nocontent{box-sizing:border-box; margin-bottom:0!important; padding:15px 0; width:100%!important; height:100%; background-color: #f2dede; color: #a94442; text-align:center;}
.table-btns .nocontent{margin-top:3px; margin-bottom:8px!important;}

.page-bar .page-breadcrumb > li > a{color:#5b9bd1;}
.page-bar .page-breadcrumb > li > a:hover{color:#3175af;}
.page-bar .page-breadcrumb > .active > a ,
.page-bar .page-breadcrumb > .active > a:hover{color: #888; }
table.table-striped th, table.table-striped td{text-align:center;}
/*进度条*/
.pace .pace-progress {top: 58px;}
/*分页*/
.pagtext{height:29px; line-height:29px;}
.pagination{margin-top:0; float:right;}
/*dialog底部按钮居中*/
.modal-footer {text-align: center;}

@media (min-width: 768px){
	.modal-dialog {	 	  
	  margin-top: 200px;	  
	}	
}
