/* 2017年04月20日增加css */
/*关闭大图按钮*/
  .close-pic{
     position:absolute;
     top:-10px;
     right:-10px;
     display:inline-block;
     width: 35px;
     height: 35px;
     cursor:pointer;
     border-radius:50% !important;
     background: #393A3C;
     text-align: center;
     line-height: 40px;
  }
  .close-pic:hover{
      background: #D43F27;
  }
  .close-pic>i{
  font-size: 25px;
   color:#fff;
  }
 /*图片放大遮罩层*/
 .mask{
     display: none;
 }
 .mask-box{
     position:absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 80;
     opacity: 0.5;
     background: #000;
 }
 .big-pic-wrap{
    position:fixed;
    top:50%;
    left:50%;
	margin-left: -460px;
	margin-top: -300px;
    width:920px;
	height:620px;
    padding:5px;
    z-index:90;
    background:#fff;
 }
 .bigPic{
	 width:910px;
	 height:610px;
 }
/*  图片方法遮罩层结束 */

.weui_uploader_input_wrp>div>.add-style-class{
	cursor:pointer;left:8px;top:28px;position:absolute;color:#b0abab;z-index:1;
}
.weui_uploader_input_wrp>div>img{
	z-index:2;position:relative;
}
.weui_uploader_input_wrp>div>.icon-pic-del{
	z-index:3;position:relative;
}