<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="cancel()">×</button>
    <h3 class="modal-title" data-ng-bind="title"></h3>
</div>

<div class="modal-body">
    <div class="form-body">
        <form class="form-horizontal" name="myForm" novalidate>
            <div class="form-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="input-group">
                                <span class="input-group-addon">原密码</span>
                                <input type="password" class="form-control" data-ng-model="vo.nowPassword"
                                       placeholder="原密码" name="nowPassword" required>
                                <div class="error-messages ng-scope ng-active"
                                     data-ng-messages="myForm.nowPassword.$error"
                                     data-ng-if="myForm.nowPassword.$touched">
                                    <div class="ng-scope" data-ng-message="required">原密码是必填项！</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="input-group">
                                <span class="input-group-addon">新密码</span>
                                <input type="password" class="form-control" data-ng-model="vo.newPassword"
                                       placeholder="新密码" name="newPassword" required data-min-length="6">
                                <div class="error-messages ng-scope ng-active"
                                     data-ng-messages="myForm.newPassword.$error"
                                     data-ng-if="myForm.newPassword.$touched">
                                    <div class="ng-scope" data-ng-message="required">新密码是必填项！</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="input-group">
                                <span class="input-group-addon">确认密码</span>
                                <input type="password" class="form-control" data-ng-model="vo.confirm"
                                       placeholder="确认密码" name="confirm" required data-same="vo.newPassword">
                                <div class="error-messages ng-scope ng-active"
                                     data-ng-messages="myForm.confirm.$error"
                                     data-ng-if="myForm.confirm.$touched">
                                    <div class="ng-scope" data-ng-message="required">确认密码是必填项！</div>
                                    <div class="ng-scope" data-ng-message="same">确认密码与新密码不相同！</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" data-ng-click="ok()" data-ejp-no-more-submit
            data-ng-disabled="myForm.$invalid">确定
    </button>
    <button class="btn btn-warning" type="button" data-ng-click="cancel()">取消</button>
</div>
