<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="cancel()">×</button>
    <h3 class="modal-title">修改</h3>
</div>

<div class="modal-body">
    <div class="form-body">

        <form class="form-horizontal" name="myForm" novalidate>
            <div class="row">
                <div class="col-md-9 col-md-offset-1">
                    <div class="form-group">
                        <label class="col-md-4 control-label">配置名称：<span style='color:red;'>*</span></label>
                        <div class="col-md-8">
                            <input type="text" name="taskName" class="form-control"
                                   placehold="配置名称" ng-model="vo.taskName" ng-maxlength=32 required/>
                            <p>
                    <span style="color: red" ng-show="myForm.taskName.$invalid">
                        <span ng-show="myForm.taskName.$error.maxlength">*配置名称的长度不超过32</span>
                    </span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
			<div class="row">
                <div class="col-md-9 col-md-offset-1">
                    <div class="form-group">
                        <label class="col-md-4 control-label">显示列码：<span style='color:red;'>*</span></label>
                        <div class="col-md-8">
                            <input type="text" name="parameters" class="form-control"
                                   placehold="显示列码" ng-model="vo.parameters" ng-maxlength=1000 required/>

                            <p>
                    <span style="color: red" ng-show="myForm.parameters.$invalid">
                        <span ng-show="myForm.parameters.$error.maxlength">显示列码长度不超过1000</span>
                    </span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-md-offset-1">
                    <div class="form-group">
                        <label class="col-md-4 control-label">显示列名：<span style='color:red;'>*</span></label>
                        <div class="col-md-8">
                            <input type="text" name="columnStr" class="form-control"
                                   placehold="显示列名" ng-model="vo.columnStr" ng-maxlength=1000 required/>
                            <p>
                    <span style="color: red" ng-show="myForm.columnStr.$invalid">
                        <span ng-show="myForm.columnStr.$error.maxlength">显示列名长度不超过1000</span>
                    </span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-md-offset-1">
                    <div class="form-group">
                        <label class="col-md-4 control-label">过滤条件：</label>
                        <div class="col-md-8">
                            <div class="col-md-3" style="padding-left: 0" ng-repeat="item in filtersBox">
                                <div class="form-group">
                                    <div class="col-md-2 ">
                                        <input type="checkbox" class="ng-valid ng-dirty ng-valid-parse ng-touched"
                                               data-ng-model="item.flag" date-ng-checked="item.flag"
                                               id="{{item.id}}" data-ng-click="updateFiltersBox()"/> 
                                    </div>
                                    <label class="control-label" style="font-size:12px;text-align: left;padding:0;" data-ng-bind="item.name"></label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-md-offset-1">
                    <div class="form-group">
                        <label class="col-md-4 control-label">SQL：<span style='color:red;'>*</span></label>
                        <div class="col-md-8">
                            <textarea name="taskStr" class="form-control" placehold="SQL" ng-model="vo.taskStr"
                                      ng-maxlength=8000 required></textarea>
                            <p>
                    <span style="color: red" ng-show="myForm.taskStr.$invalid">
                          <span class="warning" ng-show="myForm.taskStr.$error.required"></span>
                        <span ng-show="myForm.taskStr.$error.maxlength">*SQL的长度不超过8000</span>
                    </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    	</form>
	</div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" data-ng-click="ok()"
            data-ng-disabled="!myForm.$valid || myForm.content_key.$invalid || myForm.content_value.$invalid
|| myForm.orgid.$invalid || myForm.remark.$invalid">确定
    </button>
    <button class="btn btn-warning" type="button" data-ng-click="cancel()">取消</button>
</div>
