<div data-page-top></div>

<div data-page-content>
    <div data-page-search >
        <div class="portlet-body">
            <form id="seForm" class="form-horizontal" name="seForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label ng-binding"> 配置名称：</label>
                            <div class="col-md-9">
                                <input type="text" ng-model="vo.taskName" name="taskName" placeholder="请输入配置名称"
                                       class="form-control ng-pristine ng-untouched ng-valid ng-scope">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div>
        <div class="table-toolbar">
            <div class="btn-group">
                <a data-ng-click="addSqlReport()" class="btn blue" data-ng-if="userInfo.userRole=='Developer'">
                    <i class="fa fa-edit"></i>
                   		 新增
                </a>
            </div>
        </div>
        <div class="table-container">
            <table class="table table-striped table-bordered table-hover"
                   id="datatable_ajax" style="table-layout: fixed">
                <thead>
                <tr class="heading">
                    <th width="6%">序号</th>
                    <th>配置名称</th>
                    <!-- <th>列码</th> -->
                    <th>列名</th>
                    <!-- <th>SQL</th> -->
                    <th>配置时间</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="item in vm.items" class="odd gradeX">
                    <td data-ng-bind="$index+1+(vm.pager.pageIndex-1) * vm.pager.pageSize"></td>
                    <td data-ng-bind="item.taskName" style="word-break: break-all"></td>
                    <!-- <td data-ng-bind="item.parameters" style="word-break: break-all"></td> -->
                    <td data-ng-bind="item.columnStr" style="word-break: break-all"></td>
                    <!-- <td><p data-ng-bind="item.taskStr" style="max-height: 100px;overflow: auto"></p></td> -->
                    <td data-ng-bind="item.createTime | date:'yyyy-MM-dd'" ></td>
                    <td data-ng-bind="item.lastUpdateTime | date:'yyyy-MM-dd'" ></td>
                    <td>
                        <button type='button' class="btn btn-xs btn-primary btn-editable"
                                data-ng-click="edit($index,item)" data-ng-if="userInfo.userRole=='Developer'">
                            <i class="fa fa-edit"></i>修改
                        </button>
                        <button type='button' class="btn btn-xs btn-primary btn-danger"
                                data-ng-click="del($index,item.id)" data-ng-if="userInfo.userRole=='Developer'">
                            删除
                        </button>
                        <a href="#/excuteSqlQuery/{{item.id}}" class="btn btn-xs btn-primary btn-editable" >
                            <i class="fa fa-edit"></i>
                            执行
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <pagination boundary-links="true"
                    items-per-page="vm.pager.pageSize"
                    total-items="vm.pager.recordCount" ng-model="vm.pager.index"
                    class="pagination-sm pull-right" previous-text="&lsaquo;"
                    next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                    ng-change="query()"> </pagination>
        <h5>每页 {{vm.pager.pageSize}}条 | 共 {{vm.pager.recordCount}} 条记录
            | 当前第 {{vm.pager.index}} 页 | 共 {{vm.pager.totalPage}} 页</h5>
        <script>
            $('.date-picker').datepicker({
                rtl: Metronic.isRTL(),
                autoclose: true
            });



        </script>

    </div>
